@use "../../../../styles/utilities/variables" as *;
@use "../../../../styles/utilities/functions" as *;

.card {
  display: flex;
  flex-direction: column;
  gap: clamped($container-padding-y-min / 3, $container-padding-y-max / 3);
}

.information-container {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: clamped($container-padding-y-min / 3, $container-padding-y-max / 3);
}

.subinformation-container {
  margin-top: auto;
  display: flex;
  gap: 1rem;
}

.title {
  font-size: var(--font-size-base);
  font-weight: 600;
}

.episode-number {
  font-weight: 500;
  text-transform: uppercase;
}

.overview {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;

  text-overflow: ellipsis;
  line-height: 1.3;
}

.episode-number,
.overview,
.runtime,
.release-date {
  font-size: var(--font-size-sm);
}
