@use "../../../styles/utilities/variables" as *;
@use "../../../styles/utilities/functions" as *;
@use "../../../styles/utilities/mixins" as *;

.section {
  padding-top: var(--container-padding-y-sm);

  @media (min-width: $Tablet) {
    padding-top: var(--container-padding-y-md);
  }
  @media (min-width: $Desktop) {
    padding-top: var(--container-padding-y-lg);
  }
}

.heading {
  padding: {
    left: var(--container-padding-x-sm);
    bottom: calc(var(--container-padding-y-sm) / 2);
  }

  font-size: var(--font-size-base);

  @media (min-width: $Tablet) {
    padding: {
      left: var(--container-padding-x-md);
      bottom: calc(var(--container-padding-y-md) / 2);
    }
  }
  @media (min-width: $Desktop) {
    padding: {
      left: var(--container-padding-x-lg);
      bottom: calc(var(--container-padding-y-lg) / 2);
    }
  }
}

.list {
  display: flex;
  overflow: auto;
  gap: 0.75rem;
  padding-bottom: var(--container-padding-y-sm);

  // Disable unwanted/accidental browser navigation
  // when two-finger swiping at the edge/boundary of the
  // horizontally overflowed container.
  // Source: https://stackoverflow.com/a/56071966
  overscroll-behavior-x: none;

  @media (min-width: $Tablet) {
    padding-bottom: var(--container-padding-y-md);
  }

  @media (min-width: $Desktop) {
    padding-bottom: var(--container-padding-y-lg);
  }

  > button {
    flex: 0 0 clamped(250px, 300px);
  }

  @include useAppContainerSidePadding;
}
