@use "../../../styles/utilities/variables" as *;
@use "../../../styles/utilities/functions" as *;
@use "../../../styles/utilities/mixins" as *;

.section {
  padding-top: clamped($container-padding-y-min, $container-padding-y-max);
}

.heading {
  padding: {
    left: clamped($container-padding-x-min, $container-padding-x-max);
    bottom: clamped($container-padding-y-min / 2, $container-padding-y-max / 2);
  }

  font-size: var(--font-size-base);
}

.list {
  display: flex;
  gap: 0.75rem;
  padding-bottom: clamped($container-padding-y-min, $container-padding-y-max);

  overflow: auto;
  // Disable unwanted/accidental browser navigation
  // when two-finger swiping at the edge/boundary of the
  // horizontally overflowed container.
  // Source: https://stackoverflow.com/a/56071966
  overscroll-behavior-x: none;

  > button {
    flex: 0 0 clamped(250px, 300px);
  }

  @include useAppContainerSidePadding();
}
