@use "../../../styles/utilities/mixins" as *;
@use "../../../styles/utilities/variables" as *;

.section {
  padding: var(--container-padding-y-sm) 0;

  @media (min-width: $Tablet) {
    padding: var(--container-padding-y-md) 0;
  }
  @media (min-width: $Desktop) {
    padding: var(--container-padding-y-lg) 0;
  }
}

.heading {
  padding: {
    left: var(--container-padding-x-sm);
    bottom: calc(var(--container-padding-y-sm) / 2);
  }

  font-size: 1.1rem;

  @media (min-width: $Tablet) {
    padding: {
      left: var(--container-padding-x-md);
      bottom: calc(var(--container-padding-y-md) / 2);
    }

    font-size: 1.2rem;
  }
  @media (min-width: $Desktop) {
    padding: {
      left: var(--container-padding-x-lg);
      bottom: calc(var(--container-padding-y-lg) / 2);
    }

    font-size: 1.3rem;
  }
}

.list {
  display: flex;
  gap: 0.75rem;

  padding: 0 var(--container-padding-x-sm);

  overflow: auto;
  // Disable unwanted/accidental browser navigation
  // when two-finger swiping at the edge/boundary of the
  // horizontally overflowed container.
  // Source: https://stackoverflow.com/a/56071966
  overscroll-behavior-x: none;

  @media (min-width: $Tablet) {
    padding: 0 var(--container-padding-x-md);
  }
  @media (min-width: $Desktop) {
    padding: 0 var(--container-padding-x-lg);
  }

  > div {
    flex: 0 0 15rem;

    @media (min-width: $Tablet) {
      flex-basis: 17rem;
    }

    @media (min-width: $Desktop) {
      flex-basis: 19rem;
    }
  }
}
