@use "../../styles/utilities/variables" as *;
@use "../../styles/utilities/functions" as *;

:root {
  --separator-color: #eee;
}

.base {
  border: none {
    top: 1px solid var(--separator-color);
  }

  margin: 0 auto;
}

.separator {
  width: clamped(
    calc($min-breakpoint - calc($container-padding-x-min * 2)),
    calc($max-breakpoint - calc($container-padding-x-max * 2))
  );
}

.menu-dialog-separator {
  width: 100%;
}
