@use "../../../../styles/utilities/mixins" as *;
@use "../../../../styles/utilities/variables" as *;

.card {
  display: flex;
  flex-direction: column;
  gap: calc(var(--container-padding-y-sm) / 3);

  @media (min-width: $Tablet) {
    gap: calc(var(--container-padding-y-md) / 3);
  }

  @media (min-width: $Desktop) {
    gap: calc(var(--container-padding-y-lg) / 3);
  }
}

.thumbnail {
  border-radius: 5px;
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;

  font-weight: 500;
  font-size: 0.9rem;

  @media (min-width: $Tablet) {
    font-size: 1rem;
  }
  @media (min-width: $Desktop) {
    font-size: 1.1rem;
  }
}
