@use "../../../styles/utilities/variables" as *;

.rating {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;

  display: flex;
  align-items: center;
  gap: 0.25rem;

  padding: 0.05rem 0.35rem;

  background-color: var(--bg-color);

  border-radius: 5px;

  > svg {
    fill: var(--rating-star-fill);

    // SVG isn't vertically aligned with rating text
    // even though `align-items: center;`, so need to
    // manually adjust.
    margin-top: -0.1rem;

    // <TVShowSimilarShows> (250px – 300px)
    @container (max-width: 300px) {
      width: calc(var(--font-size-xs) + 0.1rem);
    }

    // <MediaSection> (300px – 400px)
    @container (min-width: 300px) {
      width: var(--font-size-sm);
    }
  }

  > span {
    // <TVShowSimilarShows> (250px – 300px)
    @container (max-width: 300px) {
      font-size: calc(var(--font-size-xs) + 0.1rem);
    }

    // <MediaSection> (300px – 400px)
    @container (min-width: 300px) {
      font-size: var(--font-size-sm);
    }
  }
}
