@use "./variables" as *;
@use "./functions" as *;

@mixin useAppContainerSidePadding {
  padding: {
    left: clamped($container-padding-x-min, $container-padding-x-max);
    right: clamped($container-padding-x-min, $container-padding-x-max);
  }
}
