@use "../../styles/utilities/mixins" as *;
@use "../../styles/utilities/variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-bottom: 0.75rem;

  .heading {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    font-size: var(--font-size-md);

    > svg {
      width: var(--font-size-md);
    }
  }

  .see-all-link {
    display: flex;
    align-items: center;
    gap: 0.1rem;

    font-size: var(--font-size-base);

    > svg {
      width: var(--font-size-base);
    }
  }

  @include useAppContainerSidePadding;
}

.shows {
  max-width: 100%;

  display: flex;
  align-items: flex-start;
  gap: 0.75rem;

  padding-bottom: var(--container-padding-y-sm);

  @media (min-width: $Tablet) {
    padding-bottom: var(--container-padding-y-md);
  }

  @media (min-width: $Desktop) {
    padding-bottom: var(--container-padding-y-lg);
  }

  overflow-x: auto;
  // Disable unwanted/accidental browser navigation
  // when two-finger swiping at the edge/boundary of the
  // horizontally overflowed container.
  // Source: https://stackoverflow.com/a/56071966
  overscroll-behavior-x: none;

  > button {
    flex: 1 0 17rem;

    @media (min-width: $Tablet) {
      flex-basis: 19rem;
    }

    @media (min-width: $Desktop) {
      flex-basis: 23rem;
    }
  }

  @include useAppContainerSidePadding;
}
