@use "../../styles/utilities/mixins" as *;
@use "../../styles/utilities/variables" as *;
@use "../../styles/utilities/functions" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-bottom: 0.75rem;

  .heading {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    font-size: var(--font-size-md);

    > svg {
      width: var(--font-size-md);
    }
  }

  .see-all-link {
    display: flex;
    align-items: center;
    gap: 0.1rem;

    font-size: var(--font-size-base);

    > svg {
      width: var(--font-size-base);
    }

    &:hover,
    &:focus {
      color: var(--primary-color);
    }

    @media (prefers-reduced-motion: no-preference) {
      transition: color var(--duration-short) var(--standard-easing);

      @include fadeInAnimation;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    @include fadeInAnimation;
  }

  @include useAppContainerSidePadding;
}

.shows {
  max-width: 100%;

  display: flex;
  align-items: flex-start;
  gap: 0.75rem;

  padding-bottom: clamped($container-padding-y-min, $container-padding-y-max);

  overflow-x: auto;
  // Disable unwanted/accidental browser navigation
  // when two-finger swiping at the edge/boundary of the
  // horizontally overflowed container.
  // Source: https://stackoverflow.com/a/56071966
  overscroll-behavior-x: none;

  > button {
    flex: 0 0 clamped(300px, 400px);
  }

  @include useAppContainerSidePadding;
}
