@use "../../../styles/utilities/variables" as *;
@use "../../../styles/utilities/mixins" as *;
@use "../../../styles/utilities/functions" as *;

.section {
  padding: clamped($container-padding-y-min, $container-padding-y-max) 0;

  .heading {
    padding-bottom: clamped(
      $container-padding-y-min / 2,
      $container-padding-y-max / 2
    );

    font-size: var(--font-size-md);
  }

  > dl {
    display: flex;
    flex-direction: column;
    gap: clamped($container-padding-y-min / 3, $container-padding-y-max / 3);

    font-size: var(--font-size-base);
  }

  .content {
    display: flex;
    flex-direction: column;

    @media (min-width: $Tablet) {
      flex-direction: row;
      gap: 0.5rem;
    }

    > dt {
      font-weight: 600;
    }
  }

  @include useAppContainerSidePadding();
}
