@use "/src/styles/utilities/variables" as *;

.menu-button {
  display: grid;
  place-items: center;
  width: var(--font-size-lg);

  @media (min-width: $Desktop) {
    /* Don't show Mobile | Tablet menu button on Desktop */
    display: none;
  }

  &:hover,
  &:focus {
    color: var(--primary-color);
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: color var(--duration-short) var(--standard-easing);
  }
}
