@use "/src/styles/utilities/variables" as *;
@use "/src/styles/utilities/mixins" as *;

.menu-open {
  display: flex;
}

.menu-closed {
  display: none;
}

.menu {
  // `display` will be set by `.menu-[open | closed]` class
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: {
    top: var(--container-padding-y-sm);
    bottom: var(--container-padding-y-sm);
  }

  @media (min-width: $Tablet) {
    // padding: var(--container-padding-y-md) var(--container-padding-x-md);
    padding: {
      top: var(--container-padding-y-md);
      bottom: var(--container-padding-y-md);
    }
  }
}

.menu-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0;

  @include useAppContainerSidePadding;
}

.close-button {
  align-self: flex-end;

  display: grid;
  place-items: center;
  width: var(--font-size-lg);

  margin-bottom: var(--container-padding-y-sm);

  @media (min-width: $Tablet) {
    margin-bottom: var(--container-padding-y-md);
  }
}
