@use "../../../styles/utilities/variables" as *;
@use "../../../styles/utilities/functions" as *;
@use "../../../styles/utilities/mixins" as *;

.section {
  padding-top: clamped($container-padding-y-min, $container-padding-y-max);

  @media (prefers-reduced-motion: no-preference) {
    @include fadeInAnimation;
  }
}

.season-select {
  margin: {
    // NOTE: HTML5 <select> has some strange horizontal
    // padding even if `padding: 0`. Need to manually
    // align.
    left: clamped(
      $container-padding-x-min - 4px,
      $container-padding-x-max - 4px
    );
    bottom: clamped($container-padding-y-min / 2, $container-padding-y-max / 2);
  }

  font-size: var(--font-size-md);
  font-weight: 700;

  border: none;
  border-radius: 5px;
}

.episode-list {
  display: flex;
  gap: 1rem;
  padding-bottom: clamped($container-padding-y-min, $container-padding-y-max);

  overflow: auto;
  // Disable unwanted/accidental browser navigation
  // when two-finger swiping at the edge/boundary of the
  // horizontally overflowed container.
  // Source: https://stackoverflow.com/a/56071966
  overscroll-behavior-x: none;

  > div {
    flex: 1 0 clamped(300px, 500px);
  }

  @include useAppContainerSidePadding();
}
