@use "../../../styles/utilities/variables" as *;

.section {
  padding-top: var(--container-padding-y-sm);

  @media (min-width: $Tablet) {
    padding-top: var(--container-padding-y-md);
  }

  @media (min-width: $Desktop) {
    padding-top: var(--container-padding-y-lg);
  }
}

.season-select {
  margin: {
    // NOTE: HTML5 <select> has some strange horizontal
    // padding even if `padding: 0`. Need to manually
    // align.
    left: calc(var(--container-padding-x-sm) - 0.25rem);
    bottom: calc(var(--container-padding-y-sm) / 2);
  }

  font-size: 1.3rem;
  font-weight: 700;

  border: none;
  border-radius: 5px;

  @media (min-width: $Tablet) {
    margin: {
      left: calc(var(--container-padding-x-md) - 0.25rem);
      bottom: calc(var(--container-padding-y-md) / 2);
    }

    font-size: 1.4rem;
  }

  @media (min-width: $Desktop) {
    margin: {
      left: calc(var(--container-padding-x-lg) - 0.25rem);
      bottom: calc(var(--container-padding-y-lg) / 2);
    }

    font-size: 1.5rem;
  }
}

.episode-list {
  display: flex;
  gap: 1rem;
  padding: 0 var(--container-padding-x-sm);
  padding-bottom: var(--container-padding-y-sm);

  overflow: auto;
  // Disable unwanted/accidental browser navigation
  // when two-finger swiping at the edge/boundary of the
  // horizontally overflowed container.
  // Source: https://stackoverflow.com/a/56071966
  overscroll-behavior-x: none;

  @media (min-width: $Tablet) {
    padding: 0 var(--container-padding-x-md);
    padding-bottom: var(--container-padding-y-md);
  }

  @media (min-width: $Desktop) {
    padding: 0 var(--container-padding-x-lg);
    padding-bottom: var(--container-padding-y-lg);
  }

  > div {
    flex: 1 0 20rem;

    @media (min-width: $Tablet) {
      flex-basis: 25rem;
    }

    @media (min-width: $Desktop) {
      flex-basis: 30rem;
    }
  }
}
