@use "../../../styles/utilities/mixins" as *;
@use "../../../styles/utilities/variables" as *;

.section {
  padding: var(--container-padding-y-sm) 0;

  @media (min-width: $Tablet) {
    padding: var(--container-padding-y-md) 0;
  }

  @media (min-width: $Desktop) {
    padding: var(--container-padding-y-lg) 0;
  }
}

.season-select {
  margin: {
    left: var(--container-padding-x-sm);
    bottom: var(--container-padding-y-sm);
  }
  padding: 0.5rem 0.75rem;

  font-size: 1rem;

  border-radius: 5px;

  @media (min-width: $Tablet) {
    margin: {
      left: var(--container-padding-x-md);
      bottom: var(--container-padding-y-md);
    }

    font-size: 1.1rem;
  }

  @media (min-width: $Desktop) {
    margin: {
      left: var(--container-padding-x-lg);
      bottom: var(--container-padding-y-lg);
    }

    font-size: 1.2rem;
  }
}

.episode-list {
  display: flex;
  gap: 1rem;
  padding: {
    left: var(--container-padding-x-sm);
    right: var(--container-padding-x-sm);
  }

  overflow: auto;

  @media (min-width: $Tablet) {
    padding: {
      left: var(--container-padding-x-md);
      right: var(--container-padding-x-md);
    }
  }

  @media (min-width: $Desktop) {
    padding: {
      left: var(--container-padding-x-lg);
      right: var(--container-padding-x-lg);
    }
  }

  > div {
    flex: 1 0 20rem;

    @media (min-width: $Tablet) {
      flex-basis: 25rem;
    }

    @media (min-width: $Desktop) {
      flex-basis: 30rem;
    }
  }
}
