@use "../../../styles/utilities/variables" as *;
@use "../../../styles/utilities/mixins" as *;
@use "../../../styles/utilities/functions" as *;

.backdrop {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40rem;

  // `background-image` is set programmatically
  background: center / cover no-repeat;

  @media (min-width: $Desktop) {
    position: relative;
  }
}

.logo {
  width: 70%;
  max-height: 20%;
  margin-top: clamped($container-padding-y-min, $container-padding-y-max);

  @media (min-width: $Desktop) {
    position: absolute;
    top: 3rem;
    left: 0;

    width: 40%;
    height: auto;
    max-height: 100%;
    margin-top: unset;
  }

  @include useAppContainerSidePadding();
}

.placeholder-logo {
  width: 100%;

  color: var(--bg-color);

  font-size: var(--font-size-xl);
  font-weight: 900;
  letter-spacing: 1px;
  text-align: center;

  @media (min-width: $Desktop) {
    position: absolute;
    top: 3rem;
    left: 0;

    text-align: left;
  }

  @include useAppContainerSidePadding();
}

.blur {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: clamped($container-padding-y-min, $container-padding-y-max) 0;

  backdrop-filter: blur(1rem);

  // Blend from backdrop into blur, so there is no visible cut-off line.
  mask: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.66) 15px,
    rgba(0, 0, 0, 0.8) 25px,
    #000 30px
  );

  .overview-container {
    position: relative;
    margin: clamped($container-padding-y-min, $container-padding-y-max) auto;

    overflow: auto;

    .overview {
      color: var(--bg-color);
      font-size: var(--font-size-base);
    }

    .unexpanded-overview {
      // Limit the number of lines for the overview
      // Source: https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-line-clamp
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;

      overflow: hidden;

      // This is inspired by how AppleTV+ made their synopsis
      --line-height: 22;
      --link-length: 4;
      --one-ch: 8;
      mask: 
        // First gradient does the bottom line of text (i.e., last line of text)
        linear-gradient(
          0deg,
          transparent 0,
          transparent calc(var(--line-height) * 1px),
          #000 calc(var(--line-height) * 1px)
        ),
        // Second gradient does the right side
        linear-gradient(
            270deg,
            transparent 0,
            transparent calc((var(--link-length) * var(--one-ch)) * 1px),
            #000
              calc(
                (
                    (var(--link-length) * var(--one-ch)) +
                      (var(--line-height) * 2)
                  ) * 1px
              )
          );
    }

    .more-button {
      position: absolute;
      bottom: 0;
      right: clamped($container-padding-x-min, $container-padding-x-max);

      color: #2690cc;
      font-size: var(--font-size-sm);
      font-weight: 500;
      text-transform: uppercase;
    }

    @include useAppContainerSidePadding();
  }
}
