.image {
  border-radius: 5px;

  // Ensure images are in 16:9 aspect ratio.
  // TMDB API and YouTube images aren't guaranteed
  // to be 16:9.
  aspect-ratio: 16 / 9;
  object-fit: cover;

  box-shadow: 2px 4px 8px rgba(0, 0, 0, 50%);

  @media (prefers-reduced-motion: no-preference) {
    transition: box-shadow,
      transform var(--duration-short) var(--standard-easing);
  }
}

.interactable {
  &:hover,
  &:focus {
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 30%);
    transform: scale(101%);
  }
}
