@use "../../styles/utilities/mixins" as *;
@use "../../styles/utilities/variables" as *;

.header {
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: {
      top: var(--container-padding-y-sm);
      bottom: var(--container-padding-y-sm);
    }

    font-weight: 500;

    @media (min-width: $Tablet) {
      padding: {
        top: var(--container-padding-y-md);
        bottom: var(--container-padding-y-md);
      }
    }

    @media (min-width: $Desktop) {
      padding: {
        top: var(--container-padding-y-lg);
        bottom: var(--container-padding-y-lg);
      }
    }

    .home-link {
      font-size: var(--font-size-md);
    }
  }

  @include useAppContainerSidePadding;
}
