@use "../../styles/utilities/mixins" as *;
@use "../../styles/utilities/variables" as *;
@use "../../styles/utilities/functions" as *;

.header {
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: clamped($container-padding-y-min, $container-padding-y-max) 0;

    font-weight: 500;

    .home-link {
      font-size: var(--font-size-md);
      font-style: italic;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }

  @include useAppContainerSidePadding;
}
