@use "/src/styles/utilities/variables" as *;

.desktop-navigation-links {
  /* Don't show Desktop navigation links on Mobile | Tablet */
  display: none;

  @media (min-width: $Desktop) {
    display: flex;
    gap: 5rem;
  }
}

.menu-dialog-navigation-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex: 1;
}

.navigation-link {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-size: var(--font-size-xxxl);

  svg {
    width: var(--font-size-xxxl);
  }

  // NOTE: Not in menu dialog
  @media (min-width: $Desktop) {
    display: flex;
    gap: 0.4rem;

    font-size: var(--font-size-md);

    svg {
      width: var(--font-size-md);
    }
  }
}
