@use "/src/styles/utilities/variables" as *;
@use "/src/styles/utilities/functions" as *;

:root {
  --branded-light-mode-gray: #696e70;
}

.search-bar-base {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5rem;

  color: var(--branded-light-mode-gray);
  background-color: #fff;

  border: 1px solid currentColor {
    radius: 5px;
  }

  @media (min-width: $Tablet) {
    height: 3rem;
  }

  @media (min-width: $Desktop) {
    width: 75%;
  }

  svg {
    width: 1.4rem;

    @media (min-width: $Tablet) {
      width: 1.8rem;
    }
  }
}

.menu-dialog-search-bar {
  margin: clamped($container-padding-y-min, $container-padding-y-max) 0;

  svg {
    margin: 0 0.5rem;

    @media (min-width: $Tablet) {
      margin: 0 0.75rem;
    }
  }
}

.home-search-bar {
  padding-left: 0.75rem;
}

.search-input {
  width: 100%;
  height: 100%;

  font-size: 1.1rem;
  font-weight: 400;

  border-radius: inherit;

  @media (min-width: $Tablet) {
    font-size: 1.2rem;
  }
}

// Only shows on <Home>
.search-button {
  display: flex;
  place-items: center;
  height: 100%;
  padding: 0.75rem;

  border-radius: inherit;
}
