*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Global CSS variables */
:root {
  --text-color: #192024;
  --bg-color: white;
}

html {
  font-size: 1rem;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;

  color: var(--text-color);
  background-color: var(--bg-color);

  font-family: "Roboto", sans-serif;

  /* Font anti-aliasing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  display: block;
}

/* Remove some <dialog> defaults */
dialog {
  padding: 0;
  border: none;
}

/* Ensure form field fonts are consistent */
input,
button,
textarea,
select {
  font: inherit;
}

/* Application container max width */
#root {
  max-width: 1200px;
  margin: 0 auto;
}
