@use "../../../styles/utilities/variables" as *;
@use "../../../styles/utilities/mixins" as *;

.section {
  padding: var(--container-padding-y-sm) 0;

  @media (min-width: $Tablet) {
    padding: var(--container-padding-y-md) 0;
  }

  @media (min-width: $Desktop) {
    padding: var(--container-padding-y-lg) 0;
  }

  .heading {
    padding-bottom: calc(var(--container-padding-y-sm) / 2);

    font-size: 1.3rem;

    @media (min-width: $Tablet) {
      padding-bottom: calc(var(--container-padding-y-md) / 2);

      font-size: 1.4rem;
    }

    @media (min-width: $Desktop) {
      padding-bottom: calc(var(--container-padding-y-lg) / 2);

      font-size: 1.5rem;
    }
  }

  > dl {
    display: flex;
    flex-direction: column;
    gap: calc(var(--container-padding-y-sm) / 3);

    font-size: 1rem;

    @media (min-width: $Tablet) {
      gap: calc(var(--container-padding-y-md) / 3);

      font-size: 1.1rem;
    }

    @media (min-width: $Desktop) {
      gap: calc(var(--container-padding-y-lg) / 3);

      font-size: 1.2rem;
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    @media (min-width: $Tablet) {
      flex-direction: row;
      gap: 0.5rem;
    }

    > dt {
      font-weight: 600;

      &::after {
        content: ":";
      }
    }
  }

  @include useAppContainerSidePadding();
}
