@use "../../../styles/utilities/variables" as *;

.badge {
  position: relative;

  display: grid;
  place-items: center;
  padding: 0 0.4rem;

  text-transform: uppercase;

  border: 1px solid #555 {
    radius: 3px;
  }

  // <TVShowSimilarShows>
  @container (min-width: 15rem) {
    font-size: var(--font-size-xs);
  }

  // <MediaSection>
  @container (min-width: 17rem) {
    font-size: calc(var(--font-size-sm) - 0.1rem);
  }
}
