@use "../../styles/utilities/variables" as *;
@use "../../styles/utilities/functions" as *;

.container {
  container-type: inline-size;

  // For `MediaRating` to hook onto
  position: relative;

  display: flex;
  flex-direction: column;

  // This is needed or else (🏳) breaks flex-box layout
  // https://stackoverflow.com/a/38224283
  min-width: 0;

  gap: clamped($container-padding-y-min / 3, $container-padding-y-max / 3);
}

.placeholder-backdrop {
  object-fit: unset;

  background-color: #555;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  .media-name {
    font-weight: 500;

    // (🏳)
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    // <TVShowSimilarShows> (250px – 300px)
    @container (max-width: 300px) {
      font-size: calc(var(--font-size-sm) + 0.1rem);
    }

    // <MediaSection> (300px – 400px)
    @container (min-width: 300px) {
      font-size: var(--font-size-base);
    }
  }

  .supplemental-info {
    display: flex;
    gap: 0.75rem;

    .debut-year {
      color: #555;

      // <TVShowSimilarShows> (250px – 300px)
      @container (max-width: 300px) {
        font-size: calc(var(--font-size-xs) + 0.1rem);
      }

      // <MediaSection> (300px – 400px)
      @container (min-width: 300px) {
        font-size: var(--font-size-sm);
      }
    }
  }
}
