@use "../../styles/utilities/mixins" as *;
@use "../../styles/utilities/variables" as *;
@use "../../styles/utilities/functions" as *;

.heading {
  margin: clamped($container-padding-y-min, $container-padding-y-max) 0;

  font-size: var(--font-size-lg);
  font-weight: 600;

  @media (prefers-reduced-motion: no-preference) {
    @include fadeInAnimation;
  }

  @include useAppContainerSidePadding;
}

.separator {
  margin-bottom: clamped($container-padding-y-min, $container-padding-y-max);

  border-color: #bbb;
}
